In [1]:
import pandas as pd

In [2]:
seoul_kr = pd.read_csv('C:/Users/namgy/Downloads/서울 일반음식점(한식,53091).csv',encoding='utf-8')
seoul_jp = pd.read_csv('C:/Users/namgy/Downloads/서울 일반음식점(일식,6390).csv',encoding='utf-8')
seoul_ch = pd.read_csv('C:/Users/namgy/Downloads/서울 일반음식점(중식,4731).csv',encoding='utf-8')
seoul_etc = pd.read_csv('C:/Users/namgy/Downloads/서울 일반음식점(기타,60821).csv',encoding='utf-8')

C:\Users\namgy\Anaconda3\envs\python_VM3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (25,27,28,29,30,39,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\namgy\Anaconda3\envs\python_VM3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (36,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# seoul
# 개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,
# 휴업종료일자,재개업일자,전화번호,소재지면적,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,
# 데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명,남성종사자수,여성종사자수,영업장주변구분명,등급구분명,급수시설구분명,
# 총인원,본사종업원수,공장사무직종업원수,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,
# 전통업소지정번호,전통업소주된음식,홈페이지

# kyung
# 시군명,관리번호,사업장명,인허가일자,소재지도로명주소,소재지지번주소,소재지우편번호,위도,경도,인허가취소일자,통합영업상태명,영업상태명,
# 폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지시설전화번호,소재지면적정보,업태구분명정보,X좌표값,Y좌표값,위생업태명,남성종사자수,
# 여성종사자수,영업장주변구분명,등급구분명,급수시설구분명,총종업원수,본사종업원수,공장사무직종업원수,공장판매직종업원수,공장생산직종업원수,
# 건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모정보,전통업소지정번호,전통업소주된음식,홈페이지URL

In [33]:
all_tmp = pd.read_csv('D:/Code/Muchine Learning/TensorFlow/Project/tmp.csv',encoding='utf-8')

In [3]:
kyung_kr.rename(columns = {'업태구분명정보' : '업태구분명'}, inplace = True)
kyung_jp.rename(columns = {'업태구분명정보' : '업태구분명'}, inplace = True)
kyung_ch.rename(columns = {'업태구분명정보' : '업태구분명'}, inplace = True)
kyung_etc.rename(columns = {'업태구분명정보' : '업태구분명'}, inplace = True)

In [5]:
kr = pd.concat([seoul_kr], ignore_index=True)
jp = pd.concat([seoul_jp], ignore_index=True)
ch = pd.concat([seoul_ch], ignore_index=True)
etc = pd.concat([seoul_etc], ignore_index=True)

In [6]:
kr = kr.fillna('')
jp = jp.fillna('')
ch = ch.fillna('')
etc = etc.fillna('')

In [34]:
all_tmp = all_tmp.fillna('')

In [35]:
all_tmp.to_csv('inn.csv', encoding='utf-8',index = False)

In [6]:
kr.to_csv('kr.csv', encoding = 'utf-8')
jp.to_csv('jp.csv', encoding = 'utf-8')
ch.to_csv('ch.csv', encoding = 'utf-8')
etc.to_csv('etc.csv', encoding = 'utf-8')

In [53]:
cafe = pd.read_csv('D:\Code\Muchine Learning\TensorFlow\Project\DB_data\cafe.csv',encoding='utf-8')
all_tmp = pd.read_csv('D:\Code\Muchine Learning\TensorFlow\Project\DB_data\\all.csv',encoding='utf-8')
inn = pd.read_csv('D:\Code\Muchine Learning\TensorFlow\Project\DB_data\inn.csv',encoding='utf-8')

C:\Users\namgy\Anaconda3\envs\python_VM3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (8,13,16,17,21,22,28,37,42,43,45,46,47,50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [54]:
cafe = cafe.fillna('')
all_tmp = all_tmp.fillna('')
inn = inn.fillna('')

In [55]:
cafe.to_csv('cafe.csv', encoding='utf-8', index = False)
all_tmp.to_csv('all_tmp.csv', encoding='utf-8', index = False)
inn.to_csv('inn.csv', encoding='utf-8', index = False)

In [32]:
seoul_etc['업태구분명'].value_counts()
seoul_kr['업태구분명']
kyung_etc['업태구분명정보']

seoul = pd.concat([seoul_kr, seoul_jp, seoul_ch, seoul_etc])
kyung = pd.concat([kyung_kr, kyung_jp, kyung_ch, kyung_etc])

seoul = seoul.fillna('')
kyung = kyung.fillna('')

seoul['업태구분명'].value_counts()
kyung['업태구분명정보'].value_counts()

기타                19285
호프/통닭             10316
경양식                9613
분식                 9136
통닭(치킨)             2414
정종/대포집/소주방         2213
까페                 1969
외국음식전문점(인도태국등)     1484
식육(숯불구이)            910
패스트푸드               682
김밥(도시락)             592
횟집                  582
뷔페식                 450
감성주점                248
라이브카페               201
패밀리레스트랑             176
탕류(보신용)             142
냉면집                 124
출장조리                100
키즈카페                 59
전통찻집                 55
복어취급                 50
이동조리                  6
커피숍                   3
Name: 업태구분명, dtype: int64

In [60]:
inn = pd.read_csv('D:/Code/Muchine Learning/TensorFlow/Project/inn.csv',encoding='utf-8')
inn = inn.fillna('')

In [61]:
index = inn[~inn['소재지전체주소'].str.contains('서울특별시')].index

In [62]:
index

Int64Index([ 200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
            ...
            7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 7033, 7034],
           dtype='int64', length=4500)

In [63]:
inn

,번호,개방자치단체코드,관리번호,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명
0,1,3120000,3120000-201-1997-00022,120833.0,서울특별시 서대문구 창천동 20-37,서울특별시 서대문구 연세로2길 50 (창천동),3780.0,A+호텔,여관업,194597.9426,450471.8966,여관업
1,2,3010000,3010000-201-2003-00050,100830.0,서울특별시 중구 신당동 366-101번지,서울특별시 중구 다산로 66 (신당동),4597.0,세화장여관,여관업,200624.7099,449784.7596,여관업
2,3,3230000,3230000-201-1988-00038,138827.0,서울특별시 송파구 방이동 41-5번지,서울특별시 송파구 올림픽로34길 5 (방이동),5544.0,IMT 모텔,여관업,209723.6845,445996.9346,여관업
3,4,3180000,3180000-201-2003-00007,150033.0,서울특별시 영등포구 영등포동3가 24번지,서울특별시 영등포구 영등포로46길 7-6 (영등포동3가),7304.0,프로방스 HoTel,여관업,191808.0254,446252.5863,여관업
4,5,3010000,3010000-201-1968-00106,100873.0,서울특별시 중구 회현동1가 127-2번지,서울특별시 중구 퇴계로12길 45-1 (회현동1가),4633.0,동원여관,여관업,198314.2907,450598.2972,여관업
...,...,...,...,...,...,...,...,...,...,...,...,...
7030,7031,4050000,4050000-214-2022-00001,449930.0,경기도 용인시 처인구 역북동 370-13 THE TRINY HOTEL,경기도 용인시 처인구 중부대로 1218 THE TRINY HOTEL (역북동),17053.0,(주)청송네트웍스(더트리니호텔),숙박업(생활),215933.376,415055.7841,숙박업(생활)
7031,7032,4060000,4060000-201-2022-00001,413814.0,경기도 파주시 금촌동 67-1,경기도 파주시 문화로 82 (금촌동),10929.0,파주 금촌 브라운도트 호텔,일반호텔,180135.66,473258.546,일반호텔
7032,7033,4160000,4160000-214-2022-00029,477811.0,경기도 가평군 청평면 고성리 53 지하1층~2층,경기도 가평군 청평면 고재길 218-33 지하1층~2층,12456.0,글램독청평,숙박업(생활),245051.4706,466754.2365,숙박업(생활)
7033,7034,5530000,5530000-201-2022-00005,445883.0,경기도 화성시 서신면 제부리 9-4,경기도 화성시 서신면 해안길442번길 36,18553.0,서쪽섬제부,숙박업 기타,166640.7039,408050.6517,숙박업 기타
7034,7035,3980000,3980000-214-2022-00002,471815.0,경기도 구리시 수택동 379-12 우남퍼스트빌스위트,경기도 구리시 안골로 65 우남퍼스트빌스위트 208개호(별첨)호 (수택동),11927.0,주식회사 365스테이,숙박업(생활),212176.2065,455035.7986,숙박업(생활)

In [64]:
inn.drop(index, inplace=True)

In [65]:
inn

,번호,개방자치단체코드,관리번호,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,업태구분명,좌표정보(x),좌표정보(y),위생업태명
0,1,3120000,3120000-201-1997-00022,120833.0,서울특별시 서대문구 창천동 20-37,서울특별시 서대문구 연세로2길 50 (창천동),3780.0,A+호텔,여관업,194597.9426,450471.8966,여관업
1,2,3010000,3010000-201-2003-00050,100830.0,서울특별시 중구 신당동 366-101번지,서울특별시 중구 다산로 66 (신당동),4597.0,세화장여관,여관업,200624.7099,449784.7596,여관업
2,3,3230000,3230000-201-1988-00038,138827.0,서울특별시 송파구 방이동 41-5번지,서울특별시 송파구 올림픽로34길 5 (방이동),5544.0,IMT 모텔,여관업,209723.6845,445996.9346,여관업
3,4,3180000,3180000-201-2003-00007,150033.0,서울특별시 영등포구 영등포동3가 24번지,서울특별시 영등포구 영등포로46길 7-6 (영등포동3가),7304.0,프로방스 HoTel,여관업,191808.0254,446252.5863,여관업
4,5,3010000,3010000-201-1968-00106,100873.0,서울특별시 중구 회현동1가 127-2번지,서울특별시 중구 퇴계로12길 45-1 (회현동1가),4633.0,동원여관,여관업,198314.2907,450598.2972,여관업
...,...,...,...,...,...,...,...,...,...,...,...,...
6997,6998,3010000,3010000-214-2021-00001,100281.0,서울특별시 중구 인현동1가 158,서울특별시 중구 충무로 24 3~17층 (인현동1가),4556.0,어반스테이 명동,숙박업(생활),199335.429,451220.2585,숙박업(생활)
6999,7000,3010000,3010000-214-2021-00002,100281.0,서울특별시 중구 인현동1가 158,서울특별시 중구 충무로 24 (인현동1가),4556.0,더쉐어(The Share),숙박업(생활),199335.429,451220.2585,숙박업(생활)
7012,7013,3220000,3220000-201-2022-00002,135995.0,서울특별시 강남구 논현동 74-6,서울특별시 강남구 논현로 734 지하2층~지상11층 (논현동),6049.0,아난티 앳 강남,관광호텔,202554.4327,446183.1736,관광호텔
7015,7016,3010000,3010000-214-2022-00001,100014.0,서울특별시 중구 충무로4가 334,서울특별시 중구 창경궁로1길 14 3층~15층 (충무로4가),4558.0,위코스테이 명동,숙박업(생활),199717.3892,451178.5727,숙박업(생활)
7019,7020,3180000,3180000-201-2022-00001,150862.0,서울특별시 영등포구 양평동1가 31-5 가온,서울특별시 영등포구 선유로24길 3-3 가온 (양평동1가),7262.0,가온,관광호텔,190266.5792,446769.2722,관광호텔

In [66]:
inn.to_csv('inn.csv', encoding='utf-8',index = False)